@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Trocchi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: '#FEFBF6';
}
.box {
  --mask: radial-gradient(
        61.77px at 50% calc(100% - 84px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 60px) 0/120px 100%,
    radial-gradient(61.77px at 50% calc(100% + 54px), #0000 99%, #000 101%) 50%
      calc(100% - 30px) / 120px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
@layer base {
  .titleFont {
    font-family: 'Trocchi';
  }
  .handwritten {
    font-family: 'Mrs Saint Delafield';
  }
}
@layer components {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .sectionContainer {
    @apply px-5 md:px-[10%] xl:py-24 2xl:px-[14%];
  }
  .p-TextFormat {
    @apply hyphens-auto text-justify text-sm font-light leading-loose xl:text-base 2xl:text-xl;
  }
}
