@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Trocchi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: '#FEFBF6';
}
.box {
  --mask: radial-gradient(
        111.8px at 50% calc(100% - 150px),
        #000 99%,
        #0000 101%
      )
      calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.8px at 50% calc(100% + 100px), #0000 99%, #000 101%) 50%
      calc(100% - 50px) / 200px 100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
.boxTop {
  --mask: radial-gradient(111.8px at 50% 150px, #000 99%, #0000 101%)
      calc(50% - 100px) 0/200px 100%,
    radial-gradient(111.8px at 50% -100px, #0000 99%, #000 101%) 50% 50px/200px
      100% repeat-x;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}
@layer base {
  .titleFont {
    font-family: 'Trocchi';
  }
  .handwritten {
    font-family: 'Mrs Saint Delafield';
  }
}
@layer components {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .sectionContainer {
    @apply px-5 md:px-[10%] xl:py-24 2xl:px-[14%];
  }
  .p-TextFormat {
    @apply hyphens-auto text-justify text-sm font-light leading-loose xl:text-base 2xl:text-xl;
  }

  /* Banner */
  .bannerIcon {
    @apply w-5 h-auto text-terciary;
  }
  .bannerIconDiv {
    @apply bg-primary p-1 rounded-full;
  }
}
