@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Trocchi&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: '#FEFBF6';
  color: '#6D5050';
}

.element {
  align-items: center;

  box-shadow: -3px -3px 4px rgba(252, 251, 251, 0.25),
    3px 3px 4px rgba(121, 117, 117, 0.3);
}

@layer base {
  .titleFont {
    font-family: 'Trocchi';
  }
  .handwritten {
    font-family: 'Mrs Saint Delafield';
  }
}
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components {
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .sectionContainer {
    @apply px-5 md:px-[5%] lg:px-[10%] 2xl:px-[14%] py-14;
  }
  .p-TextFormat {
    @apply hyphens-auto text-justify text-xs xs:text-sm font-light leading-loose xl:text-base 2xl:text-xl;
  }
  .title {
    @apply text-lg sm:text-xl lg:text-2xl xl:text-2xl 2xl:text-3xl text-terciary;
  }
  .buttonBrown {
    @apply bg-terciary text-white py-2 px-5 rounded-md text-xs md:text-sm lg:text-base;
  }

  /* Banner */
  .bannerIcon {
    @apply w-5 xl:w-7 h-auto text-terciary;
  }
  .bannerIconDiv {
    @apply bg-secondary p-1 xl:p-2 rounded-full;
  }

  /* Footer */
  .contact {
    @apply flex items-center text-[10px] xl:text-[12px] space-x-2 text-darkBrown;
  }
  .footerIcon {
    @apply text-terciary w-4 h-auto;
  }
  .termsAndprivacyBox {
    @apply flex justify-center p-2 sm:p-3 text-[10px] sm:text-xs px-5 md:px-[10%] 2xl:px-[20%] space-x-2;
  }
  .copyright {
    @apply flex justify-center items-center px-5 text-[9px] border-t-[0.4px] border-gray-400 p-2;
  }
}
